<h3>All Transactions at <%= @merchant.name %><form action="/merchants/<%= @merchant.id %>/edit" method="GET"><input class="btn--edit" type="submit" value="Edit Merchant" /></form></h3>

<table>
<h3><form action="/tags/<%= @tag.id %>/edit" method="GET"><input class="btn--edit" type="submit" value="Edit <%= @tag.tag %> Tag" /></form></h3>

<table>
  <tr>
    <th>Transaction id</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
  </tr>
  <% total_spend = 0 %>
  <% for transaction in @transactions %>
  <tr>
    <td><a href="/transactions/<%=transaction.id%>"><%= transaction.id %></a></td>
    <td><a href="/merchants/<%= transaction.merchant_id %>"><%= transaction.name %></a></td>
    <td><a href="/tags/<%= transaction.tag_id %>"><%= transaction.tag %></a></td>
    <td><%= transaction.transaction_time.to_s %></td>
    <td>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
   
  </tr>
  <% end %>
  <tr>
    <td></td>

  </tr>
</table>
</table>