<div class="card text-center head-list d-flex align-items-center justify-content-center">
  <div class="card-body">
    <h4 class="card-title">Transactions</h4>
    <p class="card-text"><b>Create</b> a New Transaction.</p>
    <a href="/transaction/new" class="btn btn-success">Create Transaction</a>
  </div>
</div>

<% total = 0 %>
<% for transaction in @transaction %>
<div class="list-group transaction-list shadow align-items-center col-md-8 border">
    <div class="d-flex w-100 justify-content-between text-center list-group-item-action">
    <h5> <%= transaction.merchant.name %></h5>
    <h5> <%= transaction.tag.name %></h5>
    <h5><b>£</b> <%= transaction.value %></h5>
    <% total += transaction.value %>
    <form onsubmit="return confirm('Are you sure you want to delete this transaction ?')" method="post" action="/transaction/<%= transaction.id %>/delete">
    <input type="submit" class="btn btn-danger" value="Delete"></form>
    </div>
    </div>
    <% end %>

    <div class="container second item text-center "> 
      <h3 id="total">Total Expense £<%=total%> </h3>
    </div>

