<section class='transaction-section'>
  <div>
    <h2 class='text-center mt-3'>Transactions.</h2>
    <p class='text-center'>Create, edit and delete transactions aswell as filter categories and merchants by name.</p>
  </div>

<! -- CATEGORY -->

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <form 
          class='form-group' 
          action='/transactions' 
          method='POST'>
            <select required
              name='tag_id'
              class='form-select text-muted' 
              aria-label='.form-select-lg'>
                <option hidden selected>Category</option>
                <% for tag in @tags %>
                <option value='<%= tag.id %>'><%= tag.name %></option>
                <% end %>
            </select>
      </div>

<! -- MERCHANT -->
      <div class="col-sm">
        <select required
          name='merchant_id'
          class='form-select text-muted' 
          aria-label='.form-select-lg'>
            <option hidden selected>Merchant</option>
            <% for merchant in @merchants %>
            <option value='<%= merchant.id %>'><%= merchant.name %></option>
            <% end %>
        </select>
      </div>

<! -- AMOUNT -->

      <div class="col-sm">
          <input
            class="form-group text-muted"
            required
            placeholder='£0.00' 
            id='amount' 
            type='number' 
            name='amount' 
            placeholder='add merchant' 
            required 
          />
          <button class='inputButton btn btn-success btn-sm px-3' type='submit'>
            <i class='fas fa-plus-square'></i>
          </button>
        </div>
      </form>
    </div>
  </div>

    <! -- CATAGORY FILTER -->
  <div class="container">
    <div class="row">
    <div class="col-lg d-flex">
          <form class='filter' action='/transactions/tags' method='GET'>
          <select name='tag_id' required class="form-select form-select-m mb-3 text-muted">
            <option hidden>Filter Catagory</option>
            <% for tag in @tags %>
            <option value='<%= tag.id %>'><%= tag.name %></option>
            <% end %>
          </select>
          <button class="btn btn-success" type="submit" value="Submit">
            <i class="fas fa-filter"></i>
        </button>
      </form>
        <a class='actions' href='/transactions'>
          <button class="btn btn-secondary" type="submit" value="Submit">
            <i class="fas fa-undo"></i>
          </button>
        </a>
      </div>

<! -- MERCHANT FILTER -->
    <div class="col-sm">
      <form class='filter' action='/transactions/merchants' method='GET'>
        <select name='merchant_id' required class="text-muted">
          <option hidden>Filter Merchant</option>
          <% for merchant in @merchants %>
          <option value='<%= merchant.id %>'><%= merchant.name %></option>
            <% end %>
        </select>
        <button class="btn btn-success" type="submit" value="Submit">
          <i class="fas fa-filter"></i>
        </button>
        </form>
        <a class='actions' href='/transactions'>
          <button class="btn btn-secondary" type="submit" value="Submit">
            <i class="fas fa-undo"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<! -- TABLE -->
<section>
  <table class='table table-bordered table-hover table-responsive'>
    <thead class='thead-light'>
      <tr class='table-primary'>
        <th scope='col'>ID#</th>
        <th scope="col">CATAGORIES</th>
        <th scope="col">MERCHANTS</th>
        <th class='text-center' scope='col'>- £ <%= sprintf('%.2f', @total) %></th>
        <th class='text-center' scope='col'>EDIT</th>
        <th class='text-center' scope='col'>DELETE</th>
      </tr>
    </thead>
    <% for transaction in @transactions %>
    <tbody class='tbody'>
      <tr>
        <td scope='row'>
          <%= transaction.id %>
        </td>
        <td scope='row'>
          <%= transaction.tag.name %>
        </td>
        <td scope='row'>
          <%= transaction.merchant.name %>
        </td>
        <td scope='row'>
          £ <%= sprintf('%.2f', transaction.amount) %>
        </td>
        <td align='center' scope='row'>
          <a href='/transactions/<%= transaction.id %>/edit'>
            <button class='btn btn-primary btn-sm px-3'>
              <i class='fas fa-edit'></i>
            </button>
          </a>
        <td>
          <form class='d-flex justify-content-center' 
            action='/transactions/<%= transaction.id %>/delete'
            method='POST'>
              <fieldset>
                <button type='submit' class='btn btn-danger btn-sm px-3'>
                  <i class='fas fa-trash-alt'></i>
                </button>
              </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</section>  
